.index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    justify-content: space-around;
    gap: 100px;

}

.suggestion {
    cursor: pointer;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.suggestion:hover{
    background-color: gray;
}

.loggedIn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: "Helvetica";
    font-size: 14px;

}

.selectBars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.homeContainers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1;
    text-align: center;
    align-items: center;
    align-content: center;
 
  
}

.HomePagetitle{
    font-size: 42px;
    color: rgb(3, 20, 37);
    /* margin-top: 150px; */
    padding: 40px;
    margin-top: 20px;

}

.HomePageFirstText{
    font-size: 30px;
    color: rgb(16, 34, 53);
    padding: 10px;
    margin: 10px;

}

.HomePageText {
    font-size: 20px;
    color:rgb(101, 109, 116);
    font-family: "Helvetica Neue";
    font-weight: 400px;
    padding: 10px;
    line-height: 35px;
    list-style-type: none;
    
}

.li {
   list-style-image: "none";
}

.ul {
   list-style-image: "none";
}